# Object files
*.o
*.ko
*.obj
*.elf

# Precompiled Headers
*.gch
*.pch

# Libraries
*.lib
*.a
*.la
*.lo

# Shared objects (inc. Windows DLLs)
*.dll
*.so
*.so.*
*.dylib

# Executables
*.exe
*.out
*.app
*.i*86
*.x86_64
*.hex

# Debug files
*.dSYM/
*.su

A1/server

A1/client

Link to A1

A1/.fuse_hidden0000004400000003

A1/SimpServer

A1/SimpClient

Link to A2

A2/analyze

A2/out.txt
